.Header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 좌우 정렬 */

  padding: 20px 0px;
  border-bottom: 1px solid rgb(226, 226, 226);
  box-sizing: border-box; /* 패딩 포함 */
}

.Header > div {
  display: flex;
}

.Header .header_center {
  flex: 2; /* 가운데가 더 넓게 배치되도록 */
  width: 50%;
  font-size: 25px;
  justify-content: center;
}

.Header .header_left {
  width: 25px;
  justify-content: flex-start;
  flex: 1; /* 공간을 균등하게 차지 */
}

.Header .header_right {
  width: 25px;
  justify-content: flex-end;
  flex: 1; /* 공간을 균등하게 차지 */
}
